@{
    ViewBag.Titlu = "New";
}

<h1>@ViewBag.Message</h1>

<h2>Adaugare proiect</h2>

@model Task_Management_Platform.Models.Project

<form method="post" action="/Tasks/New">
    @Html.Hidden("TeamId")
    @Html.Label("Nume")
    <br />
    @Html.TextBox("Nume", null, new { @class = "form-control" });
    <br />
    <br />
    @Html.Label("DataInceput")
    <br />
    @Html.TextBox("DataInceput", null, new { @class = "form-control" });
    <br />
    <br />
    @Html.Label("Deadline")
    <br />
    @Html.TextBox("Deadline", null, new { @class = "form-control" });
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Adauga proiect.</button>
</form>